
    <div id="background"></div>
    <header>
        <div class="header-container">
            <h2>Ashley Rabbie CPA</h2>
            <nav>
                <ul class="menu" [ngClass]="{'active': mobileMenuActive}">
                    <li><a href="#home" (click)="menuItemClicked()">Home</a></li>
                    <li><a href="#about" (click)="menuItemClicked()" >About</a></li>
                    <li><a href="#services" (click)="menuItemClicked()">Services</a></li>
                    <li><a href="#testimonials" (click)="menuItemClicked()">Testimonials</a></li>
                    <li><a href="#contact" (click)="menuItemClicked()">Contact</a></li>
                </ul>
              
                <div class="mobile-menu-icon" (click)="mobileMenuClicked()" [ngClass]="{'active': mobileMenuActive}">
                    <span>&#9776;</span>
                </div>
            </nav>
        </div>
    </header>

    <section id="home" class="show">
        <div class="container" (click)="changePolaroid()">
            <div class="polaroid-container">
                <div class="polaroid stack-1" [ngClass]="{'show-polaroid': activePolaroid === 'stack-1'}">
                    <img src="assets/ashleycat.png" alt="Polaroid Image 1">
                    <div class="caption">
                        <p>Something else...</p>
                    </div>
                </div>
                <div class="polaroid stack-2" [ngClass]="{'show-polaroid': activePolaroid === 'stack-2'}" >
                    <img src="assets/ashleycat.png" alt="Polaroid Image 2">
                    <div class="caption">
                        <p>& Cat Mom</p>
                    </div>
                </div>
                <div class="polaroid stack-3" [ngClass]="{'show-polaroid': activePolaroid === 'stack-3'}">
                    <img src="assets/ashley.png" alt="Polaroid Image 3">
                    <div class="caption">
                        <p>Ashley Rabbie CPA</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="show">
        <div class="container">
            <h2>About Me</h2>
            <p>All of this can change. I just needed something to put here...<br><br>
                "A Certified Public Accountant (CPA) 
                provides expert financial guidance for individuals and businesses. 
                From tax preparation and planning to bookkeeping and financial analysis, 
                CPAs ensure compliance with regulations while helping clients make informed 
                decisions to optimize their financial health. Whether you need assistance with
                 audits, tax strategies, or managing your business finances, a CPA offers the 
                 trusted expertise you need to succeed." </p>
                 <br>
            <p>Please fill in the details below to contact me!</p>
        </div>
    </section>

    <section id="services" class="show">
        <div class="container">
            <h2>My Services</h2>
            <div class="service-columns">
                <div class="left-column">
                    <div class="service-group" (click)="toggleServices('finPlanning')" [ngClass]="{'show' : services['finPlanning']}">
                        <div class="service-heading">
                            <div class="bullet">&#10003;</div>
                            <p>Financial Planning Assistance</p>
                            <span class="icon">+</span>
                        </div>
                        <ul class="service-sublist">
                            <li><b>Individual Income Tax Filing:</b> Preparing and filing federal, state, and local tax returns for individuals.</li>
                            <li><b>Tax Planning:</b> Offering guidance on strategies to reduce tax liability throughout the year, such as deductions and credits.</li>
                            <li><b>Amended Returns:</b> Assisting clients in correcting previously filed tax returns if errors were made.</li>
                            <li><b>E-filing:</b> Submitting tax returns electronically to speed up the process and ensure accuracy.</li>
                            <li><b>Tax Resolution Services: </b> Helping clients address issues with the IRS, including back taxes, penalties, and payment plans.</li>
                        </ul>
                        
                    </div>
                    <div class="service-group" (click)="toggleServices('businessTaxPrep')" [ngClass]="{'show' : services['businessTaxPrep']}">
                        <div class="service-heading">
                            <div class="bullet">&#10003;</div>
                            <p>Business Tax Preparation</p>
                            <span class="icon">+</span>
                        </div>
                        <ul class="service-sublist">
                            <li>
                                <strong>Small Business Tax Returns:</strong> Preparing tax returns for sole proprietors, partnerships, LLCs, and S-corporations.
                            </li>
                            <li>
                                <strong>Business Tax Planning:</strong> Assisting business owners in planning for tax savings, deductions, and credits relevant to their business type.
                            </li>
                            <li>
                                <strong>Quarterly Estimated Taxes:</strong> Helping business owners calculate and file estimated tax payments to avoid penalties.
                            </li>
                            <li>
                                <strong>Sales Tax Filing:</strong> Preparing and filing sales tax returns for businesses that collect sales tax.
                            </li>
                        </ul>
                        
                    </div>
                    
                </div>
                <div class="right-column">
                    <div class="service-group" (click)="toggleServices('taxAdvice')" [ngClass]="{'show' : services['taxAdvice']}">
                        <div class="service-heading">
                            <div class="bullet">&#10003;</div>
                            <p>Tax Advice and Consultation</p>
                            <span class="icon">+</span>
                        </div>
                        <ul class="service-sublist">
                            <li>
                                <strong>Tax Consultation:</strong> Providing advice on specific tax-related questions or situations, such as how to handle investments, inheritances, or complex deductions.
                            </li>
                            <li>
                                <strong>Audit Representation:</strong> Representing clients during an audit with the IRS, including communication and documentation support.
                            </li>
                        </ul>
                    </div>
                    <div class="service-group" (click)="toggleServices('specTax')" [ngClass]="{'show' : services['specTax']}">
                        <div class="service-heading">
                            <div class="bullet">&#10003;</div>
                            <p>Specialized Tax Services</p>
                            <span class="icon">+</span>
                        </div>
                        <ul class="service-sublist">
                            <li>
                                <strong>Tax Filing for Non-Residents:</strong> Assisting non-resident aliens with tax returns for U.S.-source income (Form 1040NR).
                            </li>
                            <li>
                                <strong>Self-Employed & Freelancers:</strong> Offering specialized tax preparation for self-employed individuals, including deductions for business expenses, home office, and vehicle use.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials" class="show">
        <div class="container">
            <h2>What My Clients Say</h2>
            <blockquote>
                <p>"Ashley has been so helpful to me for this tax season! The whole process from giving her my documents to getting a detailed summary of my return was less than 24 hours. She’s been so responsive and willing to explain every single step she took to calculate my taxes owed. I cannot recommend her enough!"</p>
                <footer>— Sarah W</footer>
            </blockquote>
            <blockquote>
                <p>"Where to begin! I could literally write a novel about how brilliant Ashley is when it comes to taxes. She is the first CPA I’ve ever worked with that actually took the time to help me understand my taxes, answer all my questions, help me prep for next year AND do it all within less than a weeks time. Hands down would recommend her to any and everyone!"</p>
                <footer>— Rachel B</footer>
            </blockquote>
            <blockquote>
                <p>"Ashley was amazing to work with. She was communicative, efficient and truly cares about her clients. I fully trust her and would recommend her to anyone looking for someone to do their taxes."</p>
                <footer>— Katie R</footer>
            </blockquote>
        </div>
    </section>

    <section id="contact" class="show">
        <div class="container">
            <h2>Contact Me</h2>
            <form>
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="Your Email" required>
                <textarea name="message" placeholder="Your Message" required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </section>

    <section class="footer show">
      <div class="container">
          <p>&copy; 2024 Ashley Rabie CPA. All rights reserved.</p>
      </div>
    </section>